<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/aside.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="site-logo">
                        <img class="site-logo-img" src="/static/images/header/site_logo.PNG" alt="sttusy">
                    </div>
                    <div class="nav-menu-button">
                        <a class="nav-menu-button-link" href="">SHOP</a>
                    </div>
                </div>
                <div class="header-right-container">
                    <button class="header-search-button" type="button">SEARCH</button>
                    <button class="header-bag-button" type="button">BAG(<span class="bag-count-number">1</span>)</button>
                    <button class="header-country-button" type="button">
                        <img class="country-button-img" src="/static/images/header/teageukgi.PNG" alt="태극기">
                    </button>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="/collections/new-arrivals">NEW</a>
                    <a class="site-nav-child-link" href="/collections/tees">TEES</a>
                    <a class="site-nav-child-link" href="/collections/sweats">SWEATS</a>
                    <a class="site-nav-child-link" href="/collections/overdyed">OVERDYED</a>
                    <a class="site-nav-child-link" href="/collections/outerwear">OUTERWEAR</a>
                    <a class="site-nav-child-link" href="/collections/tops-shirts">TOPS & SHIRTS</a>
                    <a class="site-nav-child-link" href="/collections/knits">KNITS</a>
                    <a class="site-nav-child-link" href="/collections/bottoms">BOTTOMS</a>
                    <a class="site-nav-child-link" href="/collections/denim">DENIM</a>
                    <a class="site-nav-child-link" href="/collections/headwear">HEADWEAR</a>
                    <a class="site-nav-child-link" href="/collections/accessories">ACCESSORIES</a>
                    <a class="site-nav-child-link" href="/collections/all">ALL</a>
                </div>
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="/account/login">ACCOUNT</a>
                    <a class="site-nav-child-link" href="/pages/customer-support">CONTACT</a>
                    <a class="site-nav-child-link" href="/blogs/features">FEATURES</a>
                    <a class="site-nav-child-link" href="/blogs/chapters">CHAPTERS</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="admin">
                <h1 class="admin-title">ADMIN PRODUCT REGISTRATION</h1>
                <div class="admin-container">
                    <aside class="admin-menus">
                        <ul>
                            <li><a href="/admin/products">상품 조회</a></li>
                            <li><a href="/admin/product/addition">상품 등록</a></li>
                            <li><a href="/admin/systems">시스템 정보</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                        </ul>
                    </aside>
                    <section class="admin-main">
                        <div class="regist-header">
                            <select class="product-inputs product-category">
                                
                            </select>
                            <input type="text" class="product-inputs" placeholder="상품명">
                            <input type="number" min="100" step="100" class="product-inputs" placeholder="가격">
                        </div>
                        <div class="regist-info regist-info-invisible">
                            <textarea class="product-inputs" placeholder="간단 설명"></textarea>
                            <textarea class="product-inputs" placeholder="상세 설명"></textarea>
                            <textarea class="product-inputs" placeholder="추가 설명"></textarea>
                            <textarea class="product-inputs" placeholder="관리 설명"></textarea>
                            <textarea class="product-inputs" placeholder="배송 설명"></textarea>
                        </div>
                        <button type="button" class="btn regist-button">등록하기</button>
                        
                        <div class="product-mst">
                            <div class="list-container">
                                <div class="option-container">
                                    <ul class="page-number-list">
                                        <a href=""><li>&#60;</li></a>
                                        <a href=""><li>1</li></a>
                                        <a href=""><li>2</li></a>
                                        <a href=""><li>3</li></a>
                                        <a href=""><li>4</li></a>
                                        <a href=""><li>5</li></a>
                                        <a href=""><li>&#62;</li></a>
                                    </ul>
                                    <div class="search-container">
                                        <input type="search" class="search-input">
                                        <button type="button" class="btn search-button">검색</button>
                                    </div>
                                </div>
                                <table class="product-mst-list">
                                    <thead>
                                        <tr>
                                            <th>상품코드</th>
                                            <th>상품종류</th>
                                            <th>상품명</th>
                                            <th>가격</th>
                                            <th>상세</th>
                                            <th>추가</th>
                                            <th>수정</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr><tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TEES</td>
                                            <td>테스트 상품1</td>
                                            <td>100000</td>
                                            <td><button type="button" class="btn">보기</button></td>
                                            <td><button type="button" class="btn">추가</button></td>
                                            <td><button type="button" class="btn">수정</button></td>
                                            <td><button type="button" class="btn">삭제</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="show-option">
                                <div class="function-container">

                                </div>
                                <label for="simple-info">간단 설명</label>
                                <textarea id="simple-info" class="product-inputs"></textarea>
                                <label for="detail-info">상세 설명</label>
                                <textarea id="detail-info" class="product-inputs"></textarea>
                                <label for="option-info">추가 설명</label>
                                <textarea id="option-info" class="product-inputs"></textarea>
                                <label for="management-info">관리 설명</label>
                                <textarea id="management-info" class="product-inputs"></textarea>
                                <label for="shipping-info">배송 설명</label>
                                <textarea id="shipping-info" class="product-inputs"></textarea>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script src="/static/js/admin/product_registration.js"></script>
</body>
</html>