.product-section {
    display: flex;
    justify-content: center;
    margin: 0px auto;

    max-width: 1280px;
}

.product-images {
    padding: 0px 20px;
    width: 55%;
}

.product-image {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.product-image img {
    width: 100%;
}

.offers {
    position: sticky;
    top: 25%;
    right: 0px;

    margin-bottom: 30px;
    padding: 0px 15px;

    width: 350px;
    height: 600px;
}

.product-title {
    margin: 0px 0px 27px;
}

.product-price {
    margin-bottom: 15px;
}

.product-colors {
    margin-bottom: 15px;
}

.product-sizes {
    display: flex;
}

.product-sizes label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 15px 0px;

    border: 1px solid rgb(198, 198, 198);

    width: 45px;
    height: 45px;

    font-weight: 700;

    cursor: pointer;
}

.product-size {
    display: none;
}

.no-stock {
    color:rgb(198, 198, 198);
    text-decoration: line-through;
}

.product-size:checked + label {
    border: 1px solid black;
}

.bag-button {
    margin-bottom: 10px;
    padding: 15px 0px;

    width: 100%;

    font-weight: 700;
    color: white;
    background-color: black;
}

.checkout-button {
    margin-bottom: 10px;
    padding: 15px 0px;

    width: 100%;

    font-weight: 700;
}

.product-info {
    margin: 40px 0px 20px;
}

.info {
    margin-bottom: 5px;
}

.detail-info {
    margin-bottom: 10px;
}






.other-products {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10px;
}

.other-product-img {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    width: 25%;
    height: 30%;

    overflow: hidden;
    cursor: pointer;
}

.other-product-img img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

