<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="site-logo">
                        <img class="site-logo-img" src="/static/images/header/site_logo.PNG" alt="sttusy">
                    </div>
                    <div class="nav-menu-button">
                        <a class="nav-menu-button-link" href="">SHOP</a>
                    </div>
                </div>
                <div class="header-right-container">
                    <button class="header-search-button" type="button">SEARCH</button>
                    <button class="header-bag-button" type="button">BAG(<span class="bag-count-number">1</span>)</button>
                    <button class="header-country-button" type="button">
                        <img class="country-button-img" src="/static/images/header/teageukgi.PNG" alt="태극기">
                    </button>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="/collections/new-arrivals">NEW</a>
                    <a class="site-nav-child-link" href="/collections/tees">TEES</a>
                    <a class="site-nav-child-link" href="/collections/sweats">SWEATS</a>
                    <a class="site-nav-child-link" href="/collections/overdyed">OVERDYED</a>
                    <a class="site-nav-child-link" href="/collections/outerwear">OUTERWEAR</a>
                    <a class="site-nav-child-link" href="/collections/tops-shirts">TOPS & SHIRTS</a>
                    <a class="site-nav-child-link" href="/collections/knits">KNITS</a>
                    <a class="site-nav-child-link" href="/collections/bottoms">BOTTOMS</a>
                    <a class="site-nav-child-link" href="/collections/denim">DENIM</a>
                    <a class="site-nav-child-link" href="/collections/headwear">HEADWEAR</a>
                    <a class="site-nav-child-link" href="/collections/accessories">ACCESSORIES</a>
                    <a class="site-nav-child-link" href="/collections/all">ALL</a>
                </div>
                <div class="site-nav-mega">
                    <a class="site-nav-child-link" href="/account/login">ACCOUNT</a>
                    <a class="site-nav-child-link" href="/pages/customer-support">CONTACT</a>
                    <a class="site-nav-child-link" href="/blogs/features">FEATURES</a>
                    <a class="site-nav-child-link" href="/blogs/chapters">CHAPTERS</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="login">
                <h1 class="account-title">ACCOUNT</h1>
                <div class="account-container">
                    <section class="account-current">
                        <h2 class="account-subtitle">신규 회원가입</h2>
                        <div class="errors errors-invisible">
                            <ul class="error-msgs">

                            </ul>
                        </div>
                        <div class="account-name">
                            <div class="account-name-half">
                                <input type="text" class="account-input" placeholder="이름">
                            </div>
                            <div class="account-name-half">
                                <input type="text" class="account-input" placeholder="성">
                            </div>
                        </div>
                        <input type="email" class="account-input" placeholder="이메일">
                        <input type="password" class="account-input" placeholder="비밀번호">
                        <button type="submit" class="btn account-button">확인</button>
                        <a class="login-return-link" href="/account/login">로그인으로 돌아가기</a>
                    </section>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <script src="/static/js/account/register.js"></script>
</body>
</html>